name: pgfs extension
defaults:
  run:
    shell: bash
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  lint:
    name: Run linters
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Install Rust minimal nightly with clippy and rustfmt
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@v2
        with:
          prefix-key: "pgfs-extension-lint"
          cache-directories: |
            /home/runner/.pgrx
      - uses: ./.github/actions/pgx-init
      - name: Cargo format
        run: cargo +nightly fmt --all --check
      - name: Clippy
        run: cargo clippy

  test:
    name: Run tests
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - name: Install Rust stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@v2
        with:
          prefix-key: "pgfs-extension-lint"
          cache-directories: |
            /home/runner/.pgrx
      - uses: ./.github/actions/pgx-init
      - name: test
        run: |
          rm -rf ./target/pgfs-test-data-* || true
          cargo pgrx test

  publish:
    # only publish off main branch
    if: github.ref == 'refs/heads/main'
    name: trunk publish
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - name: Install Rust stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@v2
        with:
          prefix-key: "pgfs-extension-lint"
          cache-directories: |
            /home/runner/.pgrx
      - name: Install stoml and pg-trunk
        shell: bash
        run: |
         set -xe
         wget https://github.com/freshautomations/stoml/releases/download/v0.7.1/stoml_linux_amd64 &> /dev/null
         mv stoml_linux_amd64 stoml
         chmod +x stoml
         sudo mv stoml /usr/local/bin/
         cargo install pg-trunk
      - name: trunk build
        run: trunk build
      - name: trunk publish
        env:
          TRUNK_API_TOKEN: ${{ secrets.TRUNK_AUTH_TOKEN }}
        run: |
          pgfs_ver=$(stoml Cargo.toml package.version)
          pgfs_descr=$(stoml Cargo.toml package.description)
          pgfs_repo=$(stoml Cargo.toml package.repository)
          trunk publish pgmq --version ${pgfs_ver} \
            --file .trunk/pgfs-${pgfs_ver}.tar.gz \
            --description ${pgfs_descr} \
            --homepage "https://github.com/CoreDB-io/pgfs" \
            --repository "https://github.com/CoreDB-io/pgfs" \
            --license "MIT"
